@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
@font-face {
  font-family: "Aeonik";
  src: url("/public/assets/fonts/Aeonik-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Aeonik";
  src: url("/public/assets/fonts/Aeonik-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Aeonik";
  src: url("/public/assets/fonts/Aeonik-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Segoe UI";
  src: url("/public/assets/fonts/segoeuithibd.ttf");
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide{

  display: grid;
  place-content: center;
}
.swiper-slide >*{
  width: 90% !important;
  margin-inline: auto;
}
body{
  font-family: Aeonik, serif;
}

*:focus-visible{
  border: none;
  outline: none;
}

nav a{
  margin-bottom: 10px;
}